multiSystem sep:~!dctitle@# sep:<title>Login Page</title>
<meta name="description" content="Meta Content here">
<!-- Google Analytics -->
endsep:
system sep:~!dcglobalbodystart@# sep:<body>
system sep:~!dclocalcss@#      sep:<link rel="stylesheet" type="text/css" href="./static/stylesheets/local/main0.css">
system sep:~!dclocaljs@# sep:<script src = "/static/js/local/main0.js"></script>
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>Pagina Uno</title>


multiSystem sep:~!dclocaljs@# sep:<script src = "/static/js/local/main1.js"></script>
	<script src = "static/js/local/alphanum.js"></script>	
	<link rel="manifest" href="./static/js/manifest.json"/>
endsep:
system sep:~!dcglobalbodystart@# sep:<body class="body-wrapper">
system sep:~!dclocalcss@# sep:<link rel="stylesheet" href="/static/stylesheets/local/so.css">
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>ShrinkOut Pagina Uno</title>
system sep:~!topLoad@# sep:<!-- -->
replace sep:~!clr@# sep:clr
replace sep:~!Dept@#   sep:Dept
replace sep:~!dl@#	sep:dl
replace sep:~!GO@#     sep:GO
replace sep:~!Loc@#    sep:Loc
replace sep:~!Logout@# sep:Salir
replace sep:~!Match@#  sep:Encontrar
replace sep:~!nothingtosave@# sep:Nada que guardar
replace sep:~!Plu@#    sep:Plu
replace sep:~!Toggle@# sep:Cambiar
