 [
        {
                "Active":false,
                "Name":"Live",
                "Url":"https://shrinkout.com",
                "PortStr":"",
                "ListenPort":":8080",
                "Database":{"Key":"shrinkout","DbStr":"dbname=freshthymesdb user=postgres password=admin sslmode=disable"}

        },
        {
                "Active":false,
                "Name":"TestOnServer",
                "Url":"https://shrinkout.com",
                "PortStr":"",
                "ListenPort":":8081",
                "Database":     {"Key":"shrinkout","DbStr":"dbname=freshthymesdb user=postgres password=admin sslmode=disable"}
        },
        {
                "Active":true,
                "Name":"LocalHost",
                "Url":"http://localhost",
                "PortStr":":8080",
                "ListenPort":":8080",
                "Database":{"Key":"shrinkout","DbStr":"dbname=freshthymesdb user=postgres password=admin sslmode=disable"}
        }
]


