multiSystem sep:~!dctitle@# sep:<title>ShrinkOut</title>
<meta name="description" content="Meta Content here">
<!-- Google Analytics -->
endsep:
system sep:~!dcglobalbodystart@# sep:<body class="body-wrapper">
system sep:~!dclocalcss@# sep:<!-- -->
system sep:~!dclocaljs@# sep:<script src = "/static/js/local/setupcolors.js"></script>
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>Setup Colors</title>
system sep:~!topLoad@# sep:<!-- -->
