system sep:~!dcglobalbodystart@# sep:<!-- -->
system sep:~!dclocalcss@# sep:<!-- -->
system sep:~!dclocaljs@# sep:<script src = "static/js/local/error.js"></script>
system sep:~!dclocalpageheader@# sep:<!-- -->
system sep:~!dctitle@# sep:<title>ShrinkOut error</title>
system sep:~!jqueryjs@# sep:<!-- -->
system sep:~!topload@# sep:<!-- -->
replace sep:~!DeviceNotSet@#	sep:Su systema no esta configurado. Por favor comuniquese con su jefe.
