system sep:~!dcglobalbodystart@# sep:<body class="body-wrapper">
system sep:~!dclocalcss@# sep:<link rel="stylesheet" href="/static/stylesheets/local/device.css">
system sep:~!dclocaljs@# sep:<script src = "/static/js/local/device.js"></script>
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>Configuración</title>
system sep:~!topLoad@# sep:<!-- -->
replace sep:~!adminid@#          sep:ID del Administrador
replace sep:~!deptid@#           sep:ID del departamento
replace sep:~!desc@#             sep:Desc
replace sep:~!mac@#              sep:MAC
replace sep:~!password@#         sep:Contraseña
replace sep:~!setup@#			 sep:Configuración
replace sep:~!showpassword@#     sep:Mostrar la contraseña
replace sep:~!storeid@#          sep:ID de la tienda
~!nothingentered@#
