multiSystem sep:~!dctitle@# sep:<title>ShrinkOut</title>
<meta name="description" content="Meta Content here">
<!-- Google Analytics -->
endsep:
system sep:~!dcglobalbodystart@# sep:<body class="body-wrapper">
system sep:~!dclocalcss@# sep:<link rel="stylesheet" href="/static/stylesheets/local/main0.css"><link rel="stylesheet" href="/static/mp/plugins/themify-icons/themify-icons.css">
system sep:~!dclocaljs@# sep:<script src = "/static/js/local/main0.js"></script>
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>Login Page</title>
system sep:~!JQueryJS@# sep:<script src="/static/mp/plugins/jquery/jquery.js"></script>
system sep:~!topload@# sep:<!-- -->
replace sep:~!about@#               sep:Nosotros
replace sep:~!betterproduce@#		sep:MEJOR PRODUCTO
replace sep:~!bizwiz@#              sep:Mago de negocios
replace sep:~!content@#				sep:La información que necesita para administrar su negocio
replace sep:~!contentmsg@#          sep:Usando ShrinkOut usted puede ver quien abasteció, cuanto abastecieron, cuanto tiempo tomo, cuanto rechazaron, porque lo rechazaron, quién fué el productor y mucho mas.
replace sep:~!easytouse@#           sep:Facíl de usar
replace sep:~!easytousemsg@#        sep:En nuestras pruebas los empleados entran información en segundos. El impacto en la mano de obra es insignificante.
replace sep:~!emailus@#				sep:Mandenos un correo electronico
replace sep:~!entreperex@#          sep:Empresario Extraordinarion
replace sep:~!home@#                sep:Portada
replace sep:~!innovative@#          sep:Diseño Inovativo
replace sep:~!innovativemsg@#       sep:Los celulares estan montados en los carros, facilitando a que los empleados entren la informacion.
replace sep:~!lowercost@#           sep:A MENOR COSTO
replace sep:~!main0english@# 		sep:Inglés
replace sep:~!main0lang@# 			sep:Español
replace sep:~!main0langflag@# 		sep:spainflag.png
replace sep:~!main0spanish@# 		sep:Español
replace sep:~!ourteam@#             sep:Nuestro Equipo Creativo
replace sep:~!ourteammsg@#          sep:Una combinación de tecnología, emprendimiento, y base de negocios.
replace sep:~!shrinkoutmsg@#        sep:ShrinkOut provee a los administradores con las herramientas para mejorar el producto que venden y para controlar y bajar los rechazos.
replace sep:~!team@#                sep:Equipo
replace sep:~!techwhiz@#            sep:Fundador

