multiSystem sep:~!dclocaljs@# sep:<script src = "static/js/local/doshrink.js"></script>	
		<script src = "static/js/local/alphanum.js"></script>	
endsep:
system sep:~!dcglobalbodystart@# sep:<body class="body-wrapper">
system sep:~!dclocalcss@# sep:<link rel="stylesheet" href="/static/stylesheets/local/so.css">
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>Stock</title>
system sep:~!topLoad@# sep:<!-- -->
replace sep:~!boxespng@#    sep:static/images/boxes.png
replace sep:~!done@#		sep:Done
replace sep:~!notvalidnumber@# 	sep:No es un numero valido.
replace sep:~!selectvendor@# 	sep:Por favor seleccione un proveedor.
replace sep:~!unitspng@#    sep:static/images/units.png
