system sep:~!dcglobalbodystart@# sep:<body class="body-wrapper">
system sep:~!dclocalcss@# sep:<link rel="stylesheet" href="/static/stylesheets/local/main0.css"><link rel="stylesheet" href="/static/mp/plugins/themify-icons/themify-icons.css">
system sep:~!dclocaljs@# sep:<script src="/static/mp/plugins/jquery/jquery.js"></script><script src = "/static/js/local/main0.js"></script>
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>ShrinkOut</title>
system sep:~!topLoad@#		sep:<script src="/static/mp/plugins/jquery/jquery.js">
replace sep:~!about@#               sep:About
replace sep:~!betterproduce@#		sep:BETTER PRODUCE
replace sep:~!bizwiz@#              sep:Business Wizard
replace sep:~!content@#				sep:The data you need to manage your business
replace sep:~!contentmsg@#          sep:Using ShrinkOut you can tell who stocked produce, how much they stocked, how long it took, how much they shrunk, why they shrunk it, who the producer was and much more.
replace sep:~!easytouse@#           sep:Easy to Use
replace sep:~!easytousemsg@#        sep:In our tests, it takes employees seconds to enter data. Impact on labor is insignificant.
replace sep:~!emailus@#				sep:Email Us
replace sep:~!entreperex@#          sep:Entrepreneur Extraordinaire
replace sep:~!home@#                sep:Home
replace sep:~!innovative@#          sep:Innovative Design
replace sep:~!innovativemsg@#       sep:Cells are mounted on the produce carts making it easy for employees to enter information as they stock produce.
replace sep:~!lowercost@#           sep:LOWER COST
replace sep:~!main0english@# 			    sep:English
replace sep:~!main0lang@# 			    sep:English
replace sep:~!main0langflag@# 			  sep:usaflag.png
replace sep:~!main0spanish@# 			sep:Spanish
replace sep:~!ourteam@#             sep:Our Creative Team
replace sep:~!ourteammsg@#          sep:A combination of tech, entrepreneurship and solid business skills.
replace sep:~!shrinkoutmsg@#        sep:ShrinkOut provides produce managers with the tools they need to increase the quality of the produce they sell and to control and reduce shrink.
replace sep:~!team@#                sep:Team
replace sep:~!techwhiz@#			sep:Founder
