system sep:~!dcglobalbodystart@# sep:<body class="body-wrapper">
system sep:~!dclocalcss@# sep:<link rel="stylesheet" href="/static/stylesheets/local/main0.css"><link rel="stylesheet" href="/static/mp/plugins/themify-icons/themify-icons.css">
system sep:~!dclocaljs@# sep:<script src = "/static/js/local/spc.js"></script>
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>ShrinkOut SPC</title>
system sep:~!topLoad@#		sep:<script src="/static/mp/plugins/jquery/jquery.js">
replace sep:~!home@#        sep:Portada
