system sep:~!dcglobalbodystart@# sep:<body class="body-wrapper">
system sep:~!dclocalcss@# sep:<link rel="stylesheet" href="/static/stylesheets/local/device.css">
system sep:~!dclocaljs@# sep:<script src = "/static/js/local/device.js"></script>
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>Device Setup</title>
system sep:~!topLoad@# sep:<!-- -->
replace sep:~!adminid@#          sep:Admin ID
replace sep:~!deptid@#           sep:Dept ID
replace sep:~!desc@#             sep:Desc
replace sep:~!mac@#              sep:MAC
replace sep:~!password@#         sep:Password
replace sep:~!setup@#			sep:Setup
replace sep:~!showpassword@#     sep:Show Password
replace sep:~!storeid@#          sep:Store ID
~!nothingentered@#
