{{ template "bootstrap" . }}

{{define "bootstrap"}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<base href="http://localhost:8080/">		
		<!-- -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"><link rel="stylesheet" href="static/stylesheets/bootstrap/3.4.1/bootstrap-theme.min.css">
	
		<script src = "./static/js/globals.js"></script><script src = "./static/js/ajax.js"></script>	
		<link rel="stylesheet" href="./static/stylesheets/global.css">
		
		<script src = "/static/js/local/device.js"></script>
		<link rel="stylesheet" href="/static/stylesheets/local/device.css">
		<title>Configuración</title>
		<!-- local header data here -->		
		<!-- Google analytics -->	
		{{template "localJs" .}}
	</head>	
	<body class="body-wrapper">
		{{template "defaultNavBar" .}}
		{{template "defaultContent" .}}
	</body>
</html>
{{end}}
 

{{define "defaultContent"}}
	<div class="container-fluid">
		<div class="row">			
			<form class="clsLeftMargin15" action = "fnDeviceSetup" method="post" onSubmit="return CheckfnDeviceSetup()">
				<input type="hidden" name = "nmCust" id = "idCust" value="?"/>
				<input type="hidden" name = "nmCustId" id = "idCustId" value=0>
				<div class="form-group">
					<label for="idUserId">ID del Administrador:</label>
					 <input class="form-control" name = 'nmUserId' id="idUserId" />		    		
				</div>
				<div class="form-group">				
					<label for="idMain0PassLogin">Contraseña:</label>
					<input class="form-control" name = 'nmPassword' id="idMain0PassLogin" type='password'  />
					<label><input type="checkbox" id="idPasswordShow"/>Mostrar la contraseña</label>
				</div>
				
				<div class="form-group">				
					<label for="idStore">ID de la tienda:</label>
					<input  value=1 class="form-control" name ='nmStoreNoId' id="idStore"/>
				</div>
				<div class="form-group">				
					<label for="idDept">ID del departamento:</label>
					<input value=1 class="form-control" name ='nmDept' id="idDept"/>		    		
				</div>
				<div class="form-group">				
					<label for="idMac">MAC:</label>
					 <input class="form-control" name = 'nmMac' id="idMac"/>		    		
				</div>
				<div class="form-group">				
					<label for="idDesc">Desc:</label>
					 <input class="form-control" name = 'nmDesc' id="idDec"/>
				</div>
				<div class="form-group">				
					<button class = "btn btn-danger" type ='submit'>Configuración</button>
				</div>
			</form>
		</div>
	</div>
{{end}}
{{define "defaultNavBar"}}
	<nav class="navbar navbar-expand-md ">		
		<a class="navbar-brand" href="/"><img src="static/images/logo.png" class="img-responsive"/></a>
		<div class="navbar-header">
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#idNavBar">
				<span class="navbar-toggler-icon"></span>
			</button>				
		</div>
	</nav>
{{end}}
{{define "localJs"}}
	<script>
		function sfTranslate(sKey){
			switch(sKey.toLowerCase()){
				case "~!nothingenteredkey@#": return "~!nothingentered@#";
				default: return sKey;
			}
		};
		
	</script>

{{end}}
