system sep:~!dcglobalbodystart@# sep:<!-- -->
system sep:~!dclocalcss@# sep:<!-- -->
system sep:~!dclocaljs@# sep:<script src = "static/js/local/error.js"></script>
system sep:~!dclocalpageheader@# sep:<!-- -->
system sep:~!dctitle@# sep:<title>ShrinkOut error</title>
system sep:~!topLoad@# sep:<!-- -->
replace sep:~!DeviceNotSet@#	sep:Your device is not set up, please contact your manager.
