multiSystem sep:~!dclocaljs@# sep:<script src = "/static/js/local/xmain0.js"></script>
	<script src = "static/js/local/alphanum.js"></script>	
	<link rel="manifest" href="./static/js/manifest.json"/>
endsep:
system sep:~!dcglobalbodystart@# sep:<body class="body-wrapper">
system sep:~!dclocalcss@# sep:<link rel="stylesheet" href="/static/stylesheets/local/so.css">
system sep:~!dclocalpageheader@# sep:<!-- local header data here -->
system sep:~!dctitle@#      sep:<title>ShrinkOut Login</title>
system sep:~!topLoad@# sep:<!-- -->
replace sep:~!clr@# sep:clr
replace sep:~!dl@#  sep:dl
replace sep:~!invalidcredentials@# sep:Could not validate user. Plase contact your manager
replace sep:~!invalidemployee@# sep:Invalid Employee
replace sep:~!signin@# sep:Sign In
